@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #root {
  height: 100vh !important;
  width: 100vw !important;
  margin: 0;
  padding: 0;
  background-color: #ffffff !important; /* Pure White */
  color: #1a1a1a;
  overflow: hidden;
}

/* Slimmer, light-themed scrollbar */
::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-thumb {
  background: #e5e5e5;
  border-radius: 10px;
}